body {
    margin: 0;
    font-family: Avenir, sans-serif;
    background: #0C4176;
    height: 100vh;

}

.progress {
    width: 500px;
    height: 10px;
    border-radius: 2px;
    margin: 0 auto;
}

.progress-bar {
    height: 10px;
    border-radius: 2px;
}

.progress:hover {
    cursor: pointer;
}

.player-box {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 620px;
    height: 220px;
    border-radius: 4px;
    background: #F2F2F2;
    box-shadow: 0 0 3px rgba(0,0,0,.4);
    z-index: 4;
}

.album-art {
    display: inline-block;
    margin: 10px;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 3px rgba(0,0,0,.4);
}

img {
    width: 100%;
    height: auto;
}

.song-details {
    display: inline-block;
    width: 380px;
    margin: 10px;

}
.song-info {
    text-align: center;
    padding: 5px;
}

.song-title {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 5px;
}

.artist-name {
    font-weight: 400;
    font-size: 18px;
    margin-top: 0;
}

.controls {
    display: inline-block;
    width: 380px;
    height: 95px;
    padding: 10px;
    text-align: center;
}


/*Buttons*/
svg {
    margin: 10px;
}
svg:hover {
    fill: white;
    transition: 0.2s;
}

#play-btn {
    display: inline-block;
    border: none;
    height: 70px;
    transition: 0.4s;
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
    background: #c9c9c9;
}

#play-btn:hover {
    background: #3475b6;
    cursor: pointer;
}

.progress-wrapper {
    position: relative;

    top: -6px;

}

.progress-bg {
    background: white;
    width: 540px;
    margin: 0 auto;
    z-index: 0;
    padding: 10px 10px 10px 10px;
    border-radius: 0 0 4px 4px;
}


